[Unit]
Description=Check for Tele Brain updates

[Service]
Type=oneshot
EnvironmentFile=-@TELE_BRAIN_CONFIG_FILE@
TimeoutStartSec=10min
ExecStart=/usr/bin/env "@TELE_BRAIN_ROOT@/bin/tele-brain" update scheduled
